        
        
        
        
        
        
        
        
        
        
        
        
         <form class="formLogin" action="login" method="post">
         <p class="pDelForm">
        <label class="labelDeLogin" for="">Su nombre</label>
        <input type="text" name="nombre" />
    </p>
        <p class="pDelForm">
        <label class="labelDeLogin" for="">Email</label>
        <input type="email" name="email" />
    </p>
    <p class="pDelForm">
        <label class="labelDeLogin" for="">Contraseña</label>
        <input type="password" name="password" />
    </p>

<button type="submit" class="btn-btn-primary">Ingresar</button>

    </form>

    {{#if error}}
    <p style="font-size:20px; color:red; text-align:center;">Uno de sus datos es incorrecto</p>

    {{/if}}








  


   
