  <div class="MainDeProduct">
          
        <form action="/filtro" method="POST" class="filtroDePeñiculas">
            <div class="todosLosFiltros">

            <div class="filtroDeTodasLasPeliculas">
                <h4>Genero</h4>
                <label for="linea" >
                    <input class="inputDeAllProduct" type="checkbox" name="linea" value="Terror" />Terror</label>
                <label for="linea" >
                    <input class="inputDeAllProduct" type="checkbox" name="linea" value="Accion" />Accion</label>
                <label for="linea" >
                    <input class="inputDeAllProduct" type="checkbox" name="linea" value="Aventura" />Aventura</label>           
                <label for="1" >
                    <input type="checkbox" name="color" value="Familyar" />Familyar</label>
                <label for="2">
                    <input class="inputDeAllProduct" type="checkbox" name="color" value="Ficcion" />Ficcion</label>
                <label for="3">
                    <input class="inputDeAllProduct" type="checkbox" name="Historica" value="Historica" />Historica </label>
                <label for="4" ><input type="checkbox" name="color" value="Misterio" />Misterio</label>
                <label for="1a" >
                    <input class="inputDeAllProduct" type="checkbox" name="tipo" value="Musical" />Musical</label>
                <label for="1b" >
                    <input class="inputDeAllProduct" type="checkbox" name="tipo" value="Suspenso" />Suspenso </label>
            </div>
            <div class="filtroDeTodasLasPeliculas">
                <h4>Calificacion</h4>
                <label for="linea" >
                    <input type="checkbox" name="linea" value="1 Estrella" />1 Estrella</label>
                <label for="linea" >
                    <input type="checkbox" name="linea" value="2 Estrella" />2 Estrella</label>
                <label for="linea" >
                    <input type="checkbox" name="linea" value="3 Estrella" />3 Estrella</label>           
                <label for="1" >
                    <input type="checkbox" name="color" value="4 Estrella" id="1" />4 Estrella</label>
                    <label for="2">
                    <input type="checkbox" name="color" value="5 Estrella" id="1" />5 Estrella</label>
            </div>
        </div>


            
            
            <div class="botones">

            <div class="botFiltros">
                <button className="background-color: blue; color:white">Aplicar filtros</button>
            </div>
            <div class="botFiltros">
                <button className="background-color: red; ">Borrar filtros</button>
            </div>
        </div>
        </form>



        <div class="row row-cols-1 row-cols-md-3">
            
              <div class="card"><a href="/detalle">
                <img src="img/Avatar 2.jfif" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Avatar 2</h5>
                </div></a>
              </div>
            
            
              <div class="card"><a href="/detalle">
                <img src="img/El_hombre_del_norte-710039658-large.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">El hombre del norte</h5>
                </div></a>
              </div>
            
              <div class="card"><a href="/detalle">
                <img src="img/encantowebp.webp" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Encanto</h5>
                </div></a>
              </div>
            
              <div class="card"><a href="/detalle">
                <img src="img/PorqueSoyBatman.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">The Batman</h5>
                </div></a>
              </div>
              <div class="card"><a href="/detalle">
                <img src="img/portada-para-la-caratula-de-el-hobbit-un-viaje-inesperado-original.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">El hobbit</h5>
                </div></a>
              </div>
              <div class="card"><a href="/detalle">
                <img src="img/Rapido y furioso.jfif" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Rapido y furioso</h5>
                </div></a>
              </div>
              <div class="card"><a href="/detalle">
                <img src="img/spidermanNWH.jpg.webp" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Spiderman no way home</h5>
                </div></a>
              </div>
              <div class="card"><a href="/detalle">
                <img src="img/Uncharted-pelicula.webp" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Uncharted</h5>
                </div></a>
              </div>
              <div class="card"><a href="/detalle">
                <img src="img/venom.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Venom</h5>
                </div></a>
              </div>
              <div class="card"><a href="/detalle">
                <img src="img/proyecto rampage.jfif" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Proyecto rampage</h5>
                </div></a>
              </div>
            
              <div class="card"><a href="/detalle">
                <img src="img/doctor strange in the multiverse of madness.jfif" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Doctor strange in the multiverse of madness</h5>
                </div></a>
              </div>
            
              <div class="card"><a href="/detalle">
                <img src="img/el 50 puntos para grifindor.jfif" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Animales fantásticos: los secretos de dumbledore</h5>
                </div></a>
              </div>
              <div class="card"><a href="/detalle">
                <img src="img/El_Exorcismo_de_Dios_-_Poster.webp" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">El exorcismo de Dios</h5>
                </div></a>
              </div>
              <div class="card"><a href="/detalle">
                <img src="img/LosTiposMalos.jfif" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Los tipos malos</h5>
                </div></a>
              </div>
            </div>
          </div>